body {
  font-family: 'Roboto', sans-serif;
}

footer {
     background-color: rgb(33, 150, 243);
     border-top: 1px solid #E7E7E7;
     text-align: center;
     padding: 0px;
     position: fixed;
     left: 0;
     bottom: 0;
     height: 70px;
     width: 100%;
     z-index: 1000;
 }

#header {
    left: 0;
    top: 0;
    width:100%;
    z-index: 1000;
    position:fixed;
}

.navAvatar {
    padding-top: 50px;
    height: 250px;
    background-color: "#673AB7";
}

.message.open {
    margin-left: 256px;
}
